.container {
    
  max-width: 1000px;
  margin-top: 30px;
  position: absolute;
  left: 300px;
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  


 button {
  background-color: white;
  color: white;
  width: 500px;
  height: 48px;
  position: relative;
  box-shadow: 2px 2px 5px black;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;

}


.text {
  background-color: #FF5A5F;
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  border: none;
  height: 20px;
  
}
.text::placeholder {
  color: white;
}
.text:hover{
  opacity: 90%;
}

.state-div {
  width: 200px;
  background-color: white;
  height: 48px;
  line-height: 3px;
  box-shadow: 2px 2px 5px black;
  
  
  
}
.amenities-div {
  width: 250px;
  background-color: white;
  height: 48px;
  line-height: 3px;
  color: black;
  text-align: justify;
  margin-left: 40px;
}
.state, .amenities {
  font-family: Arial;
  font-weight: bold;
  color: black;

  
}
.state, .cal {
  padding-left: 0px;
  color: black;
  margin-left: 40px;
}
.ariz-cal {
  display: flex;
  flex-direction: column;
  box-shadow :2px 2px 5px black;
  background-color: rgb(253, 253, 253);
  color: black;
  opacity: 0;
  background-color: #FAFAFA;
}
.state-div:hover .ariz-cal{
  opacity: 1
}
.ariz-p,.cal-p {
  font-family: Arial;
  font-size: 17px;
  font-weight: 900;
}
.pg-p,.pg2-p, .san-p,.los-p {
  font-weight: 550;
  font-size: 14px;
  font-family: Arial;
}
.internet-div {
  padding-top: 10px;
  padding-bottom: 15px;
  box-shadow :2px 2px 3px black;
  margin-left: -47px;
  width: 200px;
  padding-left: 50px;
  line-height: 7px;
  background-color: #FAFAFA;
  opacity: 0;
}
.amenities-div:hover .internet-div {
  opacity: 1;
}
.internet-div p {
  font-family: Arial;
  font-size: 14px;
  font-weight: 550;
}
